<h1>@delon/form</h1>
<sf [schema]="schema" (formSubmit)="submit($event)" [formData]="data">

    <ng-template sf-template="logo" let-me let-ui="ui" let-schema="schema">
        Logo:
        <input nz-input
                [attr.id]= "'id'"
                [disabled]="me.disabled"
                [nzSize]="ui.size"
                [value]="me.formProperty.value"
                (input)="me.setValue($event.target?.value)">
    </ng-template>

    <ng-template sf-template="outer/inner" let-me let-ui="ui" let-schema="schema">
        Nested:
        <input nz-input
                [attr.id]= "'id'"
                [disabled]="me.disabled"
                [nzSize]="ui.size"
                [value]="me.formProperty.value"
                (input)="me.setValue($event.target?.value)">
    </ng-template>
</sf>
